<header>
  <div id="slide-out" class="side-nav sn-bg-4 fixed">
    <ul class="custom-scrollbar">
      <li>
        <div class="logo-wrapper waves-light">
          <a href="#"><img src="assets/img/logo2.png" class="img-fluid flex-center"></a>
        </div>
      </li>
      <li>
        <form class="search-form" role="search">
          <div class="form-group md-form mt-0 pt-1 waves-light">
            <input type="text" class="form-control" placeholder="Cari data" id="searchKecDes">
          </div>
        </form>
      </li>
      <li>
        <ul id="dtKecDes" class="collapsible collapsible-accordion">
          <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-tachometer-alt"></i>
              Beranda</a>
          </li>
          <li><a class="active collapsible-header waves-effect arrow-r"><i class="fas fa-place-of-worship"></i> Nama
              Kecamatan<i class="fas fa-angle-down rotate-icon"></i></a>
            <div class="collapsible-body">
              <ul class="list-unstyled">
                <li><a href="#" class="waves-effect active">Nama Desa</a>
                </li>
                <li><a href="#" class="waves-effect">Nama Desa</a>
                </li>
              </ul>
            </div>
          </li>
          <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-place-of-worship"></i> Nama
              Kecamatan<i class="fas fa-angle-down rotate-icon"></i></a>
            <div class="collapsible-body">
              <ul class="list-unstyled">
                <li><a href="#" class="waves-effect">Nama Desa</a>
                </li>
                <li><a href="#" class="waves-effect">Nama Desa</a>
                </li>
              </ul>
            </div>
          </li>
          <li><a class=" collapsible-header waves-effect arrow-r"><i class="fas fa-place-of-worship"></i> Nama
              Kecamatan<i class="fas fa-angle-down rotate-icon"></i></a>
            <div class="collapsible-body">
              <ul class="list-unstyled">
                <li><a href="#" class="waves-effect ">Nama Desa</a>
                </li>
                <li><a href="#" class="waves-effect">Nama Desa</a>
                </li>
              </ul>
            </div>
          </li>
          <li><a class=" collapsible-header waves-effect arrow-r"><i class="fas fa-place-of-worship"></i> Nama
              Kecamatan<i class="fas fa-angle-down rotate-icon"></i></a>
            <div class="collapsible-body">
              <ul class="list-unstyled">
                <li><a href="#" class="waves-effect ">Nama Desa</a>
                </li>
                <li><a href="#" class="waves-effect">Nama Desa</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>
  <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
    <div class="float-left">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
    </div>
    <div class="breadcrumb-dn mr-auto">
      <p>{{title}}</p>
    </div>
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a href="indexsiapm.html" class="nav-link"><i class="fas fa-house-damage"></i> <span
            class="clearfix d-none d-sm-inline-block">Homepage</span></a>
      </li>
      <li class="nav-item active">
        <a href="indexsiapm.html" class="nav-link"><i class="fas fa-chart-pie"></i><span
            class="clearfix d-none d-sm-inline-block">Statistik</span></a>
      </li>
      <li class="nav-item ">
        <a href="indexsiapm.html" class="nav-link"><i class="far fa-newspaper"></i> <span
            class="clearfix d-none d-sm-inline-block">Kabar Pekon</span></a>
      </li>
      <li class="nav-item">
        <a href="indexsiapm.html" class="nav-link"><i class="fas fa-shopping-bag"></i> <span
            class="clearfix d-none d-sm-inline-block">Produk Pekon</span></a>
      </li>
    </ul>
  </nav>
</header>
