<footer class="page-footer text-center text-md-left">
  <div class="footer-copyright py-3 text-center">
    &copy;
    <script>document.write(new Date().getFullYear());</script>
    <a href="https://pustakadigital.co.id">Pemerintah {{base.desa}}</a>
    <span>
      Made with <i class="fa fa-heart pulse"></i> by <a href="https://pustakadigital.co.id" target="_blank">Pustaka Digital</a>
    </span>
  </div>
</footer>

    <!-- build:js -->
    <script src="{{root}}assets/vendor/js/base.js"></script>
    <script src="{{root}}assets/js/custom.js"></script>
    <!-- endbuild -->