
<!-- Produk item -->
<div class="col-lg-3 col-6 mb-4 wow fadeIn">
  <div class="card card-cascade wider hoverable">
    <div class="view view-cascade overlay">
      <img src="https://asset.kompas.com/crops/D_T5TCxmgJkjnHvr_bAR3gZ-LDM=/109x0:709x400/750x500/data/photo/2017/12/12/1025790814.jpg"
        class="card-img-top" alt="sample photo">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <div class="card-body card-body-cascade text-center pb-0">
      <h5 class="card-title text-truncate">
        <strong>
          <a href="">Judul Produk Judul Produk </a>
        </strong>
      </h5>
      <p class="card-text text-truncate ">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam
        elit.</p>
      <div class="card-footer mt-4">
        <a href="produk-detail.html" class="btn btn-sm btn-outline-primary">Detail</a>
      </div>
    </div>
  </div>
</div>
<!-- Produk item end-->
