<div class="single-news mb-2">
  <div class="row">
    <div class="col-md-3 col-3">
      <div class="view overlay rounded z-depth-1 mb-2">
        <img class="img-fluid img-sm" src="https://upload.wikimedia.org/wikipedia/id/a/aa/Lambang_Kabupaten_Lampung_Barat.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-md-9 col-9">
      <a href="">
        <p class="text-truncate font-weight-bold ">Judul Article Soluta nobis est eligendi optio cumque nihil impeditquominus</p>
        <p class="text-truncate dark-grey-text font-small">Deskripsi Soluta nobis est eligendi optio cumque nihil impeditquominus</p>
      </a>
    </div>
  </div>
</div>
