<div class="col-md-12 mb-2">

  <!-- News card -->
  <div class="card  mb-3 text-center hoverable">

    <div class="card-body">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-5 mx-3 my-3">

          <!-- Featured image -->
          <div class="view overlay rgba-white-slight">

            <img src="https://mdbootstrap.com/img/Photos/Others/img%20(43).jpg"
              class="img-fluid rounded-bottom" alt="Sample image for first version of blog listing">

            <a>

              <div class="mask"></div>

            </a>

          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 text-left ml-xl-3 ml-lg-0 ml-md-3 mt-3">

          <h4 class="mb-4">

            <strong>This is title of the news</strong>

          </h4>

          <p class="dark-grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem

            accusantium

            doloremque, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis...</p>

          <p>by

            <a>

              <strong>Carine Fox</strong>

            </a>, 19/08/2016</p>

          <a class="btn btn-indigo btn-sm">Read more</a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>

  </div>
  <!-- News card -->

</div>