<div class="col-6 col-sm-4 col-md-3 mx-auto justify-content-center team-parent">
  <div class="team-photo align-self-center">
    <img src="https://img.icons8.com/plasticine/100/000000/user.png" alt="Rachel James Johnes"
    class="mx-auto d-block img-responsive rounded-circle img-thumbnail">
    <div class="team-links mx-auto d-block align-self-center">
      <ul class="list-unstyled list-inline">
        <li class="list-inline-item"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="#!"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="team-attrs">
    <div class="team-name font-accident-two-bold-italic">Pratin {{base.desa}}</div>
    <div class="team-position">{{base.kades}}</div>
  </div>
</div>