<div class="col-md-12 mb-2">
  <article class="blog card mb-3 text-center hoverable  wow fadeIn">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5 ">
          <div class="view overlay rgba-white-slight">
            <img src="https://mdbootstrap.com/img/Photos/Others/img%20(43).jpg" class="img-fluid rounded-bottom img-lg"
              alt="Sample image for first version of blog listing">
            <a><div class="mask"></div></a>
          </div>
        </div>
        <div class="col-md-7 text-left blog-content">
          <h2 class="text-truncate">This is title of the news Lorem ipsum dolor sit amet.</h2>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="#!" class="skin-text"><i class="fas fa-tags"></i> <span class="font-weight-bold">Kegiatan pekon</span></a></li>
            <li class="list-group-item">By <a><strong>Admin</strong></a></li>
            <li class="list-group-item">17 Des 2019</li>
          </ul>
          <p class="article text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quaerat quidem, sapiente amet officiis, laborum asperiores praesentium blanditiis consequuntur quos obcaecati nulla eveniet porro perspiciatis! Veniam vel mollitia alias culpa!.</p>
          <a href="kabar-detail.html" class="btn btn-primary btn-sm">Selengkapnya</a>
        </div>
      </div>
    </div>
  </article>
</div>
<div class="col-md-12 mb-2">
  <article class="blog card mb-3 text-center hoverable  wow fadeIn">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5 ">
          <div class="view overlay rgba-white-slight">
            <img src="https://lampungbaratkab.go.id/po-content/uploads/polish_20200303_145555708.jpg" class="img-fluid rounded-bottom img-lg"
              alt="Sample image for first version of blog listing">
            <a><div class="mask"></div></a>
          </div>
        </div>
        <div class="col-md-7 text-left blog-content">
          <h2 class="text-truncate">This is title of the news Lorem ipsum dolor sit amet.</h2>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="#!" class="skin-text"><i class="fas fa-tags"></i> <span class="font-weight-bold">Kegiatan pekon</span></a></li>
            <li class="list-group-item">By <a><strong>Admin</strong></a></li>
            <li class="list-group-item">17 Des 2019</li>
          </ul>
          <p class="article text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quaerat quidem, sapiente amet officiis, laborum asperiores praesentium blanditiis consequuntur quos obcaecati nulla eveniet porro perspiciatis! Veniam vel mollitia alias culpa!.</p>
          <a href="kabar-detail.html" class="btn btn-primary btn-sm">Selengkapnya</a>
        </div>
      </div>
    </div>
  </article>
</div>
