<li class="nav-item active">
  <a class="nav-link" href="index.html">Beranda</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="kabar.html" >Kabar</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="galeri.html" >Galeri</a>
</li>
<li class="nav-item dropdown mega-dropdown">
  <a class="nav-link dropdown-toggle" id="profil-nav" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">Profil Desa</a>
  <div class="dropdown-menu mega-menu "aria-labelledby="profil-nav">
    <div class="container z-depth-1">
      <div class="row justify-content-center">
        <div class="col-4 col-md-6 col-xl-4 sub-menu mb-xl-0 mb-4">
          <h6 class="sub-title text-uppercase font-weight-bold">Tentang Pekon</h6>
          <ul class="list-unstyled">
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Sejarah {{base.desa}}
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Wilayah {{base.desa}}
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Statistik {{base.desa}}
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Sarana Prasarana
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-xl-4 sub-menu mb-md-0 mb-4">
          <h6 class="sub-title text-uppercase font-weight-bold">Lembaga Pekon</h6>
          <ul class="list-unstyled">
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Pemerintah {{base.desa}}
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Badan Permusyawaratan Desa
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>LPM
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>PKK
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Karang Taruna
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-xl-4 sub-menu mb-0">
          <h6 class="sub-title text-uppercase font-weight-bold">Potensi Pekon</h6>
          <ul class="list-unstyled">
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Excepteur sint occaecat
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Sunt in culpa qui officia
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Sed ut perspiciatis unde omnis iste natus error
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Mollit anim id est laborum
              </a>
            </li>
            <li>
              <a class="menu-item pl-0" href="#!">
                <i class="fas fa-caret-right pl-1 pr-3"></i>Accusantium doloremque laudantium
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="produk.html" >Produk</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#" >Kontak</a>
</li>
