<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
  <a class="nav-link nav-link-light" href="index.html">Beranda</a>
</li>
<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
  <a class="nav-link nav-link-light" href="about.html">Kabar Desa</a>
</li>
<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 dropdown mega-menu">
  <a class="nav-link nav-link-light dropdown-toggle" href="#" id="profil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profil Desa</a>
  <div aria-labelledby="profil" class="dropdown-menu mega-menu-down">
    <div class="row">
      <div class="col-sm-6 col-lg-4 n-item">
       <p>Tentang Pekon</p>
       <a class="dropdown-item" href="#">Sejarah</a>
       <a class="dropdown-item" href="#">Wilayah</a>
       <a class="dropdown-item" href="#">Statistik</a>
       <a class="dropdown-item" href="#">Sarana Prasarana</a>
      </div>
      <div class="col-sm-6 col-lg-4 n-item">
       <p>Lembaga Pekon</p>
       <a class="dropdown-item" href="#">Pemerintah</a>
       <a class="dropdown-item" href="#">BPD</a>
       <a class="dropdown-item" href="#">LPM</a>
       <a class="dropdown-item" href="#">PKK</a>
       <a class="dropdown-item" href="#">Karang Taruna</a>
      </div>
      <div class="col-sm-6 col-lg-4 n-item">
        <p>Potensi Pekon</p>
        <a class="dropdown-item" href="#">Bumdes</a>
        <a class="dropdown-item" href="#">UMKM</a>
        <a class="dropdown-item" href="#">WISATA</a>
      </div>
      <!-- <div class="col-sm-6 col-lg-3">
       <h5>Image</h5>
       <img src="https://source.unsplash.com/250x150/?sig=4" alt="..." style="width: 100%;">
      </div> -->
     </div>
  </div>
 </li>
<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
  <a class="nav-link nav-link-light" href="contact.html">Kontak</a>
</li>
