<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-expand-lg scrolling-navbar ">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img class="site-logo" src="assets/img/logo.png" height="30" alt="mdb logo">
        <p class="site-name ">{{base.desa}} <span> {{base.kecamatan}}</span></p>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav ml-auto mr-3">
          {{>nav-menu}}
        </ul>

        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://mdbootstrap.com/docs/jquery/newsletter/"
              class="btn btn-outline-info btn-sm waves-effect rounded waves-effect mr-2" target="_blank">
              <i class="fas fa-book mr-1"></i> Layanan
            </a>
          </li>
        </ul>

      </div>

    </div>

  </nav>
</header>
