<aside id="main-content-right" class="col-md-4 overflow-auto wow fadeIn">
  <div class="sidebar-item">
    <div class="row">
      <div class="col-lg-6 col-6">
        <div class="card card-user text-center">
          <div class="view overlay">
            <img class="card-img-top img-fluid"
              src="https://www.lampungbaratkab.go.id/po-content/uploads/bupati_edit_ada_namanya_24r.jpg"
              alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Hi. PAROSIL MABSUS, S.Pd</p>
            <p class="card-text">Bupati lampung Barat</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-6">
        <div class="card card-user text-center">
          <div class="view overlay">
            <img class="card-img-top img-fluid"
              src="https://www.lampungbaratkab.go.id/po-content/uploads/wakil_bupati_edit_ada_namanya_24r.jpg"
              alt="Card image cap">
          </div>
          <div class="card-body">
            <p class="card-title">Drs. H. MAD HASNURIN</p>
            <p class="card-text">Wakil Bupati lampung Barat</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="sidebar-item card">
    <div class="card-header">Agenda Pekon</div>
    <div class="card-body">
      <div id="calendar"></div>
    </div>
  </div>
  <div class="sidebar-item z-depth-1" id="gpr-kominfo-widget-container"></div>
</aside>
